.b{
    background-image: url("https://img.freepik.com/free-photo/sporty-woman-doing-mountain-climber-exercise-run-plank-burn-fat-sunset-beach-blue-sky-background-healthy-lifestyle-tropical-island-yoga-retreat-outdoor-activity-family-summer-vacation_1321-2925.jpg?t=st=1742459469~exp=1742463069~hmac=26f07d04c2b0720487b34a91fe1cb79bed931e3d9cff23e726685e1873ee7379&w=1380");
    background-size: cover;
    background-repeat: no-repeat;
}


